:root {
  --debug-size-color: lightgray;
  --debug-size-color: transparent;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}
