@keyframes three-dots__translateX {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes three-dots__appearDisappear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.three-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.three-dots__dot {
  border: 1px solid black;
  background-color: black;
  height: 20px;
  width: 20px;
  border-radius: 20px;
}

.three-dots__dot + .three-dots__dot {
  margin-left: 10px;
}

:root {
  /* animation variables */
  --three-dots__translateX-timing-function: cubic-bezier(0, 1, 1, 0);
  --three-dots__opacity-timing-function: ease-in-out;
  --three-dots__duration: 2s;
}

.three-dots__dot--first {
  animation: three-dots__translateX var(--three-dots__duration) infinite 0.4s
      var(--three-dots__translateX-timing-function),
    three-dots__appearDisappear var(--three-dots__duration) infinite 0.4s
      var(--three-dots__opacity-timing-function);
}

.three-dots__dot--second {
  animation: three-dots__translateX var(--three-dots__duration) infinite 0.2s
      var(--three-dots__translateX-timing-function),
    three-dots__appearDisappear var(--three-dots__duration) infinite 0.2s
      var(--three-dots__opacity-timing-function);
}

.three-dots__dot--third {
  animation: three-dots__translateX var(--three-dots__duration) infinite 0s
      var(--three-dots__translateX-timing-function),
    three-dots__appearDisappear var(--three-dots__duration) infinite 0s
      var(--three-dots__opacity-timing-function);
}
